.ChatBubble{
    width: 50%;
    height: auto;
    margin: 10px;

}
.Message{
    display: inline-block;
    width: 50%;
    height: auto;
    border: 1px black solid;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
.id{
    border: 1px black solid;
    display: contents;
}

